# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
.pytest_cache/

# Data files
*.csv
*.jsonl
*.json

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
